Xcursor.size:    80
xcalc*geometry: 700x600
xcalc*font: lucidasans-bold-24
!XCalc
XCalc*Cursor: hand2
XCalc.ti.bevel.screen.LCD.background: #048040
XCalc.ti.bevel.screen.LCD.foreground: #B0FFB0
XCalc.ti.bevel.*.LCD.height:        40
XCalc.ti.bevel.screen.DEC.width:           26
XCalc.ti.bevel.screen.HEX.width:           26
XCalc.ti.bevel.screen.OCT.width:           26
XCalc.ti.bevel.screen.DEC.foreground:          yellow 
XCalc.ti.bevel.screen.HEX.foreground:          yellow 
XCalc.ti.bevel.screen.OCT.foreground:          yellow
XCalc.ti.bevel.screen.DEG.width:           26
XCalc.ti.bevel.screen.GRAD.width:           34
XCalc.ti.bevel.screen.RAD.width:           26
XCalc.ti.bevel.screen.DEG.foreground:          magenta
XCalc.ti.bevel.screen.GRAD.foreground:         magenta
XCalc.ti.bevel.screen.RAD.foreground:          magenta
XCalc.ti.bevel.*.width:                1
XCalc.ti.bevel.*.LCD.width:        200
XCalc.ti.button2.label: x^2
XCalc.ti.button3.label: SQRT
XCalc.ti.button35.label: :
XCalc.ti.button20.label: trunc
XCalc.ti.button45.label: --
XCalc.ti.button40.label: x
XCalc.ti.button54.label: +/_
XCalc.ti.button21.label: pi
XCalc.ti.button23.background: cyan
XCalc.ti.button24.background: cyan
XCalc.ti.button27.background: pink
XCalc.ti.button28.background: pink
XCalc.ti.button29.background: pink
XCalc.ti.button32.background: pink
XCalc.ti.button33.background: pink
XCalc.ti.button34.background: pink
XCalc.ti.button37.background: white
XCalc.ti.button38.background: white
XCalc.ti.button39.background: white
XCalc.ti.button42.background: white
XCalc.ti.button43.background: white
XCalc.ti.button44.background: white
XCalc.ti.button47.background: white
XCalc.ti.button48.background: white
XCalc.ti.button49.background: white
XCalc.ti.button52.background: white
XCalc.ti.button53.background: cyan
XCalc.ti.button54.background: cyan
XCalc.ti.button23.foreground: black
XCalc.ti.button24.foreground: black
XCalc.ti.button27.foreground: black
XCalc.ti.button28.foreground: black
XCalc.ti.button29.foreground: black
XCalc.ti.button32.foreground: black
XCalc.ti.button33.foreground: black
XCalc.ti.button34.foreground: black
XCalc.ti.button37.foreground: black
XCalc.ti.button38.foreground: black
XCalc.ti.button39.foreground: black
XCalc.ti.button42.foreground: black
XCalc.ti.button43.foreground: black
XCalc.ti.button44.foreground: black
XCalc.ti.button47.foreground: black
XCalc.ti.button48.foreground: black
XCalc.ti.button49.foreground: black
XCalc.ti.button52.foreground: black
XCalc.ti.button53.foreground: black
XCalc.ti.button54.foreground: black
XCalc.ti.button4.background: grey
XCalc.ti.button5.foreground: white
XCalc.ti.button5.background: red
XCalc.ti.button6.foreground: black
XCalc.ti.button6.background: lime
XCalc.ti.button36.background: blue
XCalc.ti.button41.background: blue
XCalc.ti.button46.background: blue
XCalc.ti.button51.background: blue
XCalc.ti.button35.background: grey
XCalc.ti.button40.background: grey
XCalc.ti.button45.background: grey
XCalc.ti.button50.background: grey
XCalc.ti.button10.foreground: magenta
XCalc.ti.button25.foreground: yellow
XCalc.ti.button35.foreground: black
XCalc.ti.button40.foreground: black
XCalc.ti.button45.foreground: black
XCalc.ti.button50.foreground: black
XCalc.ti.button55.background: #700070
XCalc.ti.button55.foreground: #FFC0FF
XCalc.ti.*.background: black
XCalc.ti.*.foreground: white

